doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 IBM IOT - Device Management Dashboard
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
          a(href="http://www.ibm.com/developerworks/cloud/library/cl-blockchain-for-cognitive-iot-apps-trs/index.html") Here
          |  is the developerworks article
