/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  vertical-align: middle;
  color: #b4886b;
  display: block;
  width: 90%;
}
caption,
th,
td {
  padding-left: 24px;
  width: 210px;
  font-weight: normal;
  vertical-align: middle;
}
td.sp {
  padding-left: 40px;
  width: 50px;
  font-weight: normal;
  vertical-align: middle;
}
td.sp1 {
  padding-left: 40px;
  width: 10px;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
  width: 95%;
  align: center;
}
error-font {
  font-family: 'Georgia';
  color: #FF0000;
  font-size: 12px;
}
header {
  font-family: 'Quicksand';
  padding: 30px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #2f4f4f;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}
.container {
  width: 98%;
  margin: 15px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 73%;
  height: 590px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 15px;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.main-content .widget h2 {
  font-family: 'Quicksand';
  margin: 13px 10px 14px 24px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
h3 {
  font-family: 'Quicksand';
  margin: 13px 10px 14px 24px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
  text-align: center;
}
p {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px 10px;
}
p1 {
  margin-left: 15px;
  padding: 0px 10px;
}
select {
  width: 150px;
  height: 25px;
  border: 1px solid #1e3650;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input {
  width: 220px;
  height: 20px;
  border: 1px solid #1e3650;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
input.small {
  width: 120px;
  height: 20px;
  text-align: center;
  border: 1px solid #1e3650;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
button.b1 {
  border: 1px solid #1e3650;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
  width: 80px;
}
button.r {
  border: 1px solid #1e3650;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
  width: 80px;
  float: right;
  margin-top: 10px;
}
button.b1inv {
  border: 1px solid #1e3650;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
  width: 80px;
  background-color: #faf9f0;
}
button.b2 {
  border: 1px solid #1e3650;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
  width: 150px;
}
button.b3 {
  border: 1px solid #1e3650;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
  width: 100px;
}
button.b2inv {
  border: 1px solid #1e3650;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 25px;
  width: 226px;
  background-color: #faf9f0;
}
label {
  color: #b4886b;
  display: block;
  width: 220px;
  height: 20px;
  float: left;
}
.sidebar {
  float: left;
  width: 25%;
  height: 590px;
}
.sidebar .widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  height: 590px;
  background-color: #faf9f0;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  text-align: justify;
}
.sidebar .widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px 24px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget p {
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}
footer {
  width: 94%;
  margin-left: 50px;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
